@import '_variables';

html {
  height: 100%;
}

nav {
  @include flex-justify-content-center;
  background-color: $primary-white;
  border-bottom: 3px double $secondary-accent;
  padding: 0 0 17px 0;
  text-align: center;
}

h1 {
  color: $primary-accent;
  font-family: 'EB Garamond', serif;
  font-size: 45px;
  font-weight: 600;
  margin: 20px 0 0 0;
}

body {
  background: url('../images/shining-maz.png');
  flex: 1;
  margin: 0;
}

main {
  font-family: 'Montserrat', sans-serif; 
  margin: 0;
  width: 100%;
}

button {
  background-color: $primary-accent;
  border: .2px solid $primary-black;
  border-radius: 3px;
  border-style: none;
  color: $primary-white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  padding: 2px;
}

p {
  padding: 12px;
}

.login-div {
  @include flex-justify-content-space-around();
  padding: 40px;
  width: 100%;
}

.login-container {
  @include flex-justify-content-space-around();
  align-items: center;
  background-color: $primary-white;
  border: 1px solid $primary-accent;
  border-radius: 3px;
  height: 14em;
  padding: 5px;
  width: 22em;
}

.login-box {
  @include flex-column();
  align-items: center;
}

.input-box {
  border-style: none;
  border: .1px solid $primary-black;
  border-radius: 3px;
  margin-bottom: 1em;
}
 
.sign-in-button {
  margin-top: 1em;
  width: 11.5em;
}

.room-type-search-button {
  margin-right: 3em;
}

.search-field-container {
  @include flex-justify-content-center();
  font-family: 'Montserrat';
  padding: 20px;
}

.nav-sub-header {
  color: $primary-black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 20px;
}

.check-availabilty-button {
  background-color: none;
  border-style: none;
  font-family: 'Montserrat', sans-serif;
}

.welcome-message {
  color: $primary-black;
  font-size: 2em;
  font-style: italic;
  font-weight: 500;
  margin-left: 20px;
}

.bookings-container {
  height: 650px;
  padding: 0 2em;
}

.bookings-title {
  font-size: 22px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

.guest-bookings {
  background: $primary-white;
  border: 1px solid $secondary-accent;
  padding: 2px;
  text-align: center;
}

.room-options-container {
  @include flex-column();
  width: 100%;
}

.room-options {
  @include flex-row();
  overflow: scroll;
}

.room-type-title {
  padding-right: 64px;
}

.no-rooms-message {
  color: $error-color;
}

.wrong-password-message {
  color: $error-color;
}

.room-div {
  @include flex-row();
  background-color: $primary-white;
  border: 1px solid $secondary-accent;
  height: 100px;
  margin-bottom: 1em;
  margin-right: 6px;
  max-width: 18em;
  justify-content: center;
  padding: 1.5em;
}

.guest-bookings {
  width: 200px;
}

.total-spent {
  font-size: 20px;
  font-weight: 500;
  padding: 0;
}

.hidden {
  display: none;
}